body{
    color: white;
    background-color: #232323;
    margin: 0;
    font-family: "Lato";
}


.squares-container{
    text-align: center;
    margin: 20px auto;
    max-width: 600px;
}

.game-square{

    background: purple;
    width: 25%;
    padding-bottom: 25%;
    float: left;
    margin: 1.66%;
    border-radius: 15%;
/*    border: 2px solid lightgray;*/
    transition: background 0.4s;

}

h1{
    padding: 20px 0;
    margin: 0;
    text-align: center;
    background: steelblue;
    text-transform: uppercase;
    transition: background 0.4s;
}

#current-color-text{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2em;
}

#stripe{
    background: white;
    height: 30px;
    text-align: center;
}

#game-message, button{
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#game-message{
    color: black;
}
button {
    font-size: 1.2em;
    color: steelblue;
    border: none;
    background: none;
    height: 100%;
    transition: all 0.2s;
}

#game-message{
    display:inline-block;
    width: 20%;
}

button:hover{
    color: white;
    background: steelblue;
}
